<meta charset="UTF-8" />
<title>Projekt | <%= title %></title>
<link rel="stylesheet" href="/static/src/css/dark.css" type="text/css" />
<link rel="stylesheet" href="/static/src/css/main.css" type="text/css" />
<link
    rel="shortcut icon"
    href="/static/src/image/logo.ico"
    type="image/x-icon"
/>
