<!-- Page for list open file should be in main not top -->
<nav>
    <% if(title=="Create") { %>
    <!--  -->
    <div class="active">
        <a href="/notes/create" class="left"> New File </a>
        <a href="/" class="right">
            <img src="/static/src/image/close.svg" alt="" />
        </a>
    </div>
    <!--  -->
    <% } %> <% if(title=="Strona główna") { %>
    <!--  -->
    <div class="active">
        <a href="/notes/create"> Home </a>
    </div>
    <!--  -->
    <% } %>
    <div>
        <a
            href="/notes/"
            class="
                <%
                if(title=='./public/notes/Notatka.txt')
                {
                %>
                active
                <%}%>
                left
            "
        >
            important-note.txt
        </a>
        <a href="/" class="right">
            <img src="/static/src/image/close.svg" alt="" />
        </a>
    </div>
</nav>
