@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
:root {
  --hue: 0deg;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  margin: 0px 0 0 0;
  color: #f4f4f4;
  background-color: #1c1c2c;
  font-size: 14px;
  color: #f4f4f4;
}

div#contener {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  overflow: hidden;
}

main {
  overflow: hidden;
  height: calc(100vh - 60px - 40px);
  width: calc(100vw - 60px - 300px);
  scroll-behavior: smooth;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

main nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 30px;
  width: calc(100vw - 60px - 300px);
  background-color: #596585;
}

main nav div {
  height: 30px;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #7682a1;
  padding: 0px 24px;
}

main nav div .right {
  width: 20px;
  height: 20px;
  opacity: 0;
  justify-content: center;
  align-items: center;
}

main nav div.active {
  background-color: #1c1c2c;
}

main nav div.active .right {
  display: flex;
  opacity: 1;
}

main nav div.active .right:hover {
  background-color: #7682a1;
  border-radius: 20px;
}

main nav div:hover:not(.active) {
  background-color: #1c1c2c99;
}

main nav div:hover:not(.active) .right {
  display: flex;
  opacity: 1;
}

main nav div:hover:not(.active) .right:hover {
  background-color: #1c1c2cf9;
  border-radius: 20px;
}

main nav div .left {
  padding-right: 8px;
}

main#in_out {
  overflow: auto;
  padding: 32px;
  overflow: auto;
  height: calc(100vh - 60px - 40px);
  width: 100vw;
  scroll-behavior: smooth;
}

header {
  width: 100%;
  height: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  background-color: #7896cf;
}

header #logo {
  padding: 0px 16px;
}

a {
  text-decoration: none;
  color: #f4f4f4;
}

a:hover {
  color: #f4f4f4;
}

li {
  list-style-type: none;
}

ul li {
  border: 1px solid #ffffff;
  margin: 10px;
  padding: 10px 20px;
  display: flex;
  align-items: center;
}

ul li img {
  width: 64px;
}

#in_out {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

#in_out form {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#in_out form .title {
  color: #4a597e;
  font-size: 48px;
  font-weight: bold;
}

#in_out form #error span {
  color: #b43636;
}

#in_out form #swap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
}

#in_out form #swap a {
  color: #1c1c2c;
}

#in_out form #swap a:hover {
  color: #f4f4f4;
}

#in_out form > div {
  width: 600px;
  height: 90%;
  background-color: #d8e0ee;
  padding: 96px 0px 64px;
  border-radius: 11px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#in_out form > div div {
  width: 320px;
  padding: 16px;
}

#in_out form > div div input,
#in_out form > div div textarea {
  width: 100%;
  height: 50px;
  border: none;
  outline: none;
  border-radius: 12px;
  padding: 0px 9px;
  font-size: 18px;
  color: #f4f4f4;
  background-color: #1c1c2c;
}

#in_out form > div div span {
  display: inline-block;
  color: #4a597e;
  font-size: 24px;
  font-weight: bold;
  margin: 4px 0px;
}

#in_out form > div div#but-sub {
  padding-top: 48px;
}

#in_out form > div div#but-sub button {
  cursor: pointer;
  border: none;
  outline: none;
  width: 100%;
  height: 50px;
  border-radius: 12px;
  padding: 6px 9px;
  background-color: #7896cf;
  color: #f4f4f4;
  font-size: 24px;
}

#in_out section#banner {
  width: 50%;
  height: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding: 32px;
  font-size: 5em;
  letter-spacing: 5px;
}

#in_out section#banner div {
  width: 100%;
  max-width: 1000px;
}

#main-page {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

#main-page article {
  height: calc(100vh - 60px - 40px - 30px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#main-page article section .title {
  font-size: 100px;
}

#main-page article section .subtitle {
  font-size: 60px;
}

#main-page article section a {
  color: #7896cf;
}

#main-page article section a:hover {
  color: #4a597e;
}

#main-page article section#functionality {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 128px 0px;
}

#main-page article section#functionality div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0px 64px;
}

#main-page article section#functionality div div {
  padding-top: 16px;
  font-size: 60px;
}

#main-page article section .blue {
  color: #7896cf;
}

#main-page article section .welc {
  font-size: 36px;
}

aside {
  width: calc(60px + 300px);
  height: calc(100vh - 60px - 40px);
  display: flex;
}

aside #left-nav {
  width: 60px;
  height: calc(100vh - 60px - 40px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  background-color: #475066;
}

aside #left-nav #top-nav,
aside #left-nav #buttom-nav {
  width: 100%;
}

aside #left-nav #top-nav a,
aside #left-nav #buttom-nav a {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

aside #left-nav #top-nav a.active,
aside #left-nav #buttom-nav a.active {
  background-color: #343b4e;
}

aside #right-nav {
  width: 300px;
  height: calc(100vw - 60px - 40px);
  background-color: #343b4e;
}

aside #right-nav .title {
  height: 60px;
  font-size: 16px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 16px;
}

aside #right-nav .subtitle {
  height: 40px;
  padding: 0px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}

footer {
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  background-color: #7896cf;
}

footer div {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer div nav {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0px 10px;
}

footer div nav a {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

footer div p {
  width: 100%;
  text-align: right;
  padding: 0px 16px;
}

.create-note {
  /* Move the textarea in front of the result */
  /* Make textarea almost completely transparent */
  /* Can be scrolled */
  /* No resize on textarea */
  /* Paragraphs; First Image */
  /* Code blocks */
}

.create-note .file-title {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  padding: 16px 0px 0px 32px;
}

.create-note .file-title input {
  background-color: transparent;
  border: none;
  outline: none;
  color: #f4f4f4;
  margin-left: 16px;
}

.create-note .code-field {
  position: relative;
  width: calc(100vw - 300px - 60px);
  height: calc(100vh - 60px - 40px);
}

.create-note #editing,
.create-note #highlighting {
  /* Both elements need the same text and space styling so they are directly on top of each other */
  padding: 32px;
  border: 0;
  width: 100%;
  height: 100%;
}

.create-note #editing,
.create-note #highlighting,
.create-note #highlighting * {
  /* Also add text styles to highlighing tokens */
  font-size: 12pt;
  font-family: monospace;
  line-height: 20pt;
  tab-size: 2;
}

.create-note #editing,
.create-note #highlighting {
  /* In the same place */
  position: absolute;
  top: 0;
  left: 0;
}

.create-note #editing {
  z-index: 1;
  outline: none;
}

.create-note #highlighting {
  z-index: 0;
}

.create-note #editing {
  color: #f4f4f4;
  background: transparent;
  caret-color: white;
  /* Or choose your favourite color */
}

.create-note #editing,
.create-note #highlighting {
  overflow: auto;
  white-space: nowrap;
  /* Allows textarea to scroll horizontally */
}

.create-note #editing {
  resize: none;
}

.create-note * {
  font-family: "Fira Code", monospace;
}

.create-note code[class*="language-"],
.create-note pre[class*="language-"] {
  font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  font-size: 1em;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  line-height: 1.5;
  tab-size: 4;
  hyphens: none;
}
/*# sourceMappingURL=main.css.map */