<!DOCTYPE html>
<html lang="pl">
    <head>
        <%- include('./partials/head.ejs') %>
    </head>

    <body>
        <main>
            <section>
                <p>Coś poszło nie tak :(</p>
            </section>
        </main>
    </body>
</html>
