<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("../partials/head.ejs") %>
    </head>

    <body>
        <main id="in_out">
            <form name="register_form" method="POST" action="/user/login">
                <div>
                    <div class="title">Log in</div>

                    <div id="error">
                        <span> <%= message %> </span>
                    </div>
                    <div>
                        <span>Nick</span>
                        <input
                            type="text"
                            id="text"
                            placeholder="knotes"
                            name="login"
                        />
                    </div>
                    <div>
                        <span>Password</span>
                        <input
                            type="password"
                            id="password"
                            placeholder="******"
                            name="password"
                        />
                    </div>
                    <div id="but-sub">
                        <button type="submit" value="Submit" name="submit">
                            Submit
                        </button>
                    </div>
                    <div id="swap">
                        <a href="/user/register">Sing up</a>
                        <a href="/">Back</a>
                    </div>
                </div>
            </form>
            <section id="banner">
                <div>Fast</div>
                <div>Power</div>
                <div>Simple</div>
            </section>
        </main>
    </body>
</html>
