<html lang="en">
    <head>
        <%- include("../partials/head.ejs") %>
        <script>
            function ValidatePasswords() {
                password1 = window.document.forms.register_form.password.value;
                password2 =
                    window.document.forms.register_form.password_repeated.value;
                if (password1 === password2) {
                    console.log("true");
                    window.document.forms.register_form.submit.type = "submit";
                    window.document.getElementById("password_info").style =
                        "opacity: 0.0;";
                } else {
                    console.log("false");
                    window.document.forms.register_form.submit.type = "hidden";
                    window.document.getElementById("password_info").style =
                        "color:red;background: rgba(255,0,0,0.30);width:190px;";
                }
            }
        </script>
    </head>

    <body>
        <main id="in_out">
            <form action="/user/register" method="POST" name="register_form">
                <div>
                    <div class="title">Sing up</div>
                    <div id="error">
                        <span> <%= message %> </span>
                    </div>
                    <div>
                        <span>Nick</span>
                        <input
                            type="text"
                            id="text"
                            placeholder="knotes"
                            name="login"
                        />
                    </div>
                    <div>
                        <span>Password</span>
                        <input
                            type="password"
                            id="password"
                            placeholder="******"
                            name="password"
                        />
                    </div>
                    <div>
                        <span>Repeat password</span>
                        <input
                            type="password"
                            placeholder="******"
                            name="password_repeated"
                            oninput="ValidatePasswords()"
                        />
                    </div>
                    <div id="but-sub">
                        <button type="hidden" value="Submit" name="submit">
                            Register
                        </button>
                    </div>
                    <div id="swap">
                        <a href="/user/login">Log in</a>
                        <a href="/">Back</a>
                    </div>
                </div>
            </form>
            <section id="banner">
                <div>Fast</div>
                <div>Power</div>
                <div>Simple</div>
            </section>
        </main>
    </body>
</html>
